* {
  font-family: Helvetica, Arial, sans-serif;
}


h1 {
  color: SeaGreen;
  font-size: 58px;
  font-style: italic;
}


p,
li {
  font-size: 18px;
  color: navy;
}
a {
  color: rebeccapurple;
  font-weight: bold;
}
img {
  height: 250px;
  width: 444px;
}
